<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Energyviss/Live Dashboard</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>alarm_clock</mat-icon>
      </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>
