mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  
  }

  .full-width-input {
    width: 100%;
  }


.abovecard{


  padding-top: 60px;
}
a{
  float:right;
}
.mr{
  margin-top:30px;
  margin-bottom: 20px;
}

.tt{
  line-height: 3;
}
.container{
  background-color: blue;
  height: 100%;
}


  



  